<h1>Listing vak_users</h1>

<table>
  <tr>
    <th>Name vak</th>
    <th>Name docent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vak_users.each do |vak_user| %>
  <tr>
    <td><%= vak_user.name_vak %></td>
    <td><%= vak_user.name_docent %></td>
    <td><%= link_to 'Show', vak_user %></td>
    <td><%= link_to 'Edit', edit_vak_user_path(vak_user) %></td>
    <td><%= link_to 'Destroy', vak_user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_vak_user_path %>
