<%= form_for(@vak_student) do |f| %>
  <% if @vak_student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vak_student.errors.count, "error") %> prohibited this vak_student from being saved:</h2>

      <ul>
      <% @vak_student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_vak %><br />
    <%= f.text_field :name_vak %>
  </div>
  <div class="field">
    <%= f.label :name_student %><br />
    <%= f.text_field :name_student %>
  </div>
  <div class="field">
    <%= f.label :punten_student/vak %><br />
    <%= f.text_field :punten_student/vak %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
