<h1>Listing vak_students</h1>

<table>
  <tr>
    <th>Name vak</th>
    <th>Name student</th>
    <th>Punten student/vak</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vak_students.each do |vak_student| %>
  <tr>
    <td><%= vak_student.name_vak %></td>
    <td><%= vak_student.name_student %></td>
    <td><%= vak_student.punten_student/vak %></td>
    <td><%= link_to 'Show', vak_student %></td>
    <td><%= link_to 'Edit', edit_vak_student_path(vak_student) %></td>
    <td><%= link_to 'Destroy', vak_student, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student', new_vak_student_path %>
