<p id="notice"><%= notice %></p>

<p>
  <b>Name vak:</b>
  <%= @vak_student.name_vak %>
</p>

<p>
  <b>Name student:</b>
  <%= @vak_student.name_student %>
</p>

<p>
  <b>Punten student/vak:</b>
  <%= @vak_student.punten_student/vak %>
</p>


<%= link_to 'Edit', edit_vak_student_path(@vak_student) %> |
<%= link_to 'Back', vak_students_path %>
