<%= form_for(@aanwezigheden) do |f| %>
  <% if @aanwezigheden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aanwezigheden.errors.count, "error") %> prohibited this aanwezigheden from being saved:</h2>

      <ul>
      <% @aanwezigheden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_name %><br />
    <%= f.text_field :student_name %>
  </div>
  <div class="field">
    <%= f.label :aanwezig %><br />
    <%= f.radio_button :aanwezig, "ja" %>
    <%= f.label :aanwezig, "ja" %>
    <%= f.radio_button :aanwezig, "nee" %>
    <%= f.label :aanwezig, "nee" %>
  </div>
  <div class="field">
    <%= f.label :vak %><br />
    <%= f.text_field :vak %>
  </div>
  <div class="field">
    <%= f.label :datum %><br />
    <%= f.date_select :datum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
