<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @leerlingen.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @leerlingen.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @leerlingen.email %>
</p>

<p>
  <b>Password:</b>
  <%= @leerlingen.password %>
</p>


<%= link_to 'Edit', edit_leerlingen_path(@leerlingen) %> |
<%= link_to 'Back', leerlingens_path %>
