<h1>Listing vaks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tot punten</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vaks.each do |vak| %>
  <tr>
    <td><%= vak.name %></td>
    <td><%= vak.tot_punten %></td>
    <td><%= link_to 'Show', vak %></td>
    <td><%= link_to 'Edit', edit_vak_path(vak) %></td>
    <td><%= link_to 'Destroy', vak, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vak', new_vak_path %>
