<h1>Listing docents</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @docents.each do |docent| %>
  <tr>
    <td><%= docent.first_name %></td>
    <td><%= docent.last_name %></td>
    <td><%= link_to 'Show', docent %></td>
    <td><%= link_to 'Edit', edit_docent_path(docent) %></td>
    <td><%= link_to 'Destroy', docent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Docent', new_docent_path %>
